<section id="presentation" class="container container-presentation">
  <about-me-illustration></about-me-illustration>
  <div class="container-pres">
    <h2>
      Bonjour, <br />
      qui suis-je ?
    </h2>
    <h3>Jean-Baptiste,</h3>
    <p>
      <strong>Moniteur d'équitation</strong> de formation depuis
      <strong>2013</strong>, je suis resté en poste pendant plus de
      <strong>8 années</strong>. J'ai pu, au travers de ce métier, accompagner
      un grand nombre de cavaliers et de chevaux, du débutant au confirmé, dans
      leur apprentissage et leur progression. J'ai eu l'occasion de participer
      et organiser divers évènements du monde du cheval (salons, concours etc.).
    </p>
    <span>
      <p class="second-part">
        En <strong>fin d'année 2021</strong>, je me suis aperçu que mon attrait
        pour ce métier n'était plus au niveau de mon commencement.
        <br />
        Lors de mon adolescence, j'étais très attiré par le milieu de l'<strong
          >informatique</strong
        >
        et le <strong>Web</strong>. Mais, comme beaucoup d'autres, je me suis
        entendu dire que pour en faire mon métier, je devrais passer par des
        études d'ingénieur.

        <br />
        Au mois de <strong>Mars 2022</strong>, avec l'arrivée d'un
        <strong>bébé</strong>, j'ai pris la décision d'arreter définitivement,
        et de me consacrer à ma nouvelle carrière.
        <br />
        Depuis, je me forme en <strong>autodidacte</strong> grâce à
        OpenClassRooms, YouTube, Stack-Overflow et bien d'autres ressources,
        dans l'attente d'une formation. Vous pourrez voir en poursuivant votre
        visite les différentes compétences que je développe.
      </p>
    </span>
  </div>
</section>
