<header>
  <nav>
    <div id="logo-title">
      <img src="../assets/logo/logo_transparent.png" alt="" />
    </div>
    <div id="nav-menu">
      <ul>
        <li>
          <a href="#" class="active">Accueil</a>
        </li>
        <li>
          <a href="#services">Compétences</a>
        </li>
        <li>
          <a href="#realisations">Réalisations</a>
        </li>
        <li>
          <a href="#contact" class="contact-link">Contact</a>
        </li>
      </ul>
    </div>
    <div id="social">
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/jeanbaptistevrain"
            onclick="window.open(this.href); return false;"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a
            href="https://twitter.com/jb_vdev"
            onclick="window.open(this.href); return false;"
            ><i class="fa-brands fa-twitter-square"></i
          ></a>
        </li>
        <li>
          <a
            href="https://github.com/Jaybee-v"
            onclick="window.open(this.href); return false;"
            ><i class="fa-brands fa-github-square"></i
          ></a>
        </li>
      </ul>
    </div>
    <div class="menu-hamburger">
      <img src="../../../assets/icons/menu-btn.png" alt="Menu-hamburger" />
    </div>
  </nav>
</header>
