header {
  width: 100vw;
  nav {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    #logo-title {
      img {
        width: 150px;
      }
    }
    #nav-menu {
      ul {
        display: flex;
        margin-right: 200px;
        li {
          padding: 50px;
          a {
            letter-spacing: 1px;
            font-size: 2em;
            color: #42a8b9;
            font-weight: 600;
            &.active {
              color: #ffce6b;
              font-weight: 900;
            }
          }
        }
      }
    }
    div#social {
      position: absolute;
      bottom: 0;
      right: 50px;
      ul {
        display: flex;
        li {
          a {
            i {
              padding: 10px;
              font-size: 1.5em;
              color: #414141;
            }
          }
        }
      }
    }
    .menu-hamburger {
      display: none;
    }
  }
}

@media screen and (max-width: 1100px) {
  header {
    nav {
      #logo-title {
        img {
        }
      }
      #nav-menu {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(191, 191, 191, 0.266);
        backdrop-filter: blur(8px);
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          li {
            a {
              &.active {
              }
            }
          }
        }
      }
      div#social {
        ul {
          li {
            a {
              i {
              }
            }
          }
        }
      }
      .menu-hamburger {
        position: absolute;
        top: 50px;
        right: 100px;
        padding: 30px;
        background-color: #42a8b9;
        display: block;
        img {
          width: 30px;
        }
      }
    }
  }
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 00ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  border: 8px solid #37788f;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.8s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
