.container-animations {
  position: absolute;
  left: 70%;
  display: flex;
  flex-direction: column;
  transform: rotate(-45deg);
  top: 300px;
  i {
    transform: rotate(45deg);
    padding: 30px;
    font-size: 2em;
  }
  .fa-arrow-down {
    padding: 20px !important;
    margin-left: 25px;
    transform: rotate(2deg);
    font-size: 1em;
  }
}

@media screen and (max-width: 375px) {
  .container-animations {
    transform: rotate(-15deg);
    i {
      transform: rotate(10deg);
      font-size: 1.5em;
    }
    .fa-arrow-down {
      transform: rotate(2deg);
      font-size: 0.8em;
    }
  }
}
